@import './navbar.scss';
@import './hero-banner.scss';
@import './intro-section.scss';
@import './category.scss';
@import './footer.scss';
@import './popular-categories.scss';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

:root {
    --primary: #00804a;
    --secondary: #004225;
    --tertiary: #f5f5dc;
    --btn: #001e1f;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

h3 {    
    font-size: 1.5em;
}

section {
    padding: 3em 1em;
    max-width: 1200px;
    margin: auto;
}