// Default animation
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);
@mixin hideTapHighlightColor() {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
    transform: translateZ(0);
}

@mixin improveAntiAlias() {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.popular-category {
    padding-top: 0;

    p {
        font-size: 2em;
        margin-bottom: 2em;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 3em;

        .card {
            border-radius: 2em;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--tertiary);
        }

        .meat {
            grid-area: 1 / 1 / 2 / 2;
            background-color: #8f3e2e;

            position: relative;
            transition-duration: $defaultDuration;
            transition-property: transform;

            @include hideTapHighlightColor();
            @include hardwareAccel();
            @include improveAntiAlias();

            img {
                width: 20em;
                position: absolute;
                top: -25%;
            }

            h2 {
                font-size: 2.5em;
                margin: 0;
                position: relative;
                bottom: -32%;
            }

            &:before {
                pointer-events: none;
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 0;
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
                /* W3C */
                transition-duration: $defaultDuration;
                transition-property: transform opacity;
            }

            &:hover {
                transform: translateY(-5px);
                /* move the element up by 5px */

                &:before {
                    opacity: 1;
                    transform: translateY(5px);
                    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
                }

                img {
                    transform: translateY(-10px);
                    transition: all ease-in-out .3s
                }
            }
        }

        .ice-cream {
            grid-area: 1 / 2 / 3 / 3;
            background-color: #7AAEF9;

            &:before {
                pointer-events: none;
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 0;
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
                /* W3C */
                transition-duration: $defaultDuration;
                transition-property: transform opacity;
            }

            &:hover {
                transform: translateY(-5px);
                /* move the element up by 5px */

                &:before {
                    opacity: 1;
                    transform: translateY(5px);
                    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
                }
            }

            img {
                width: 18em em;
                position: absolute;
                top: -10%;
                left: 0;
            }

            .product-name {
                position: absolute;
                right: 10%;
                bottom: 5%;

                h2 {
                    font-size: 4em;
                }

                h3 {
                    font-size: 2em;
                    margin: 0;
                }
            }
        }

        .vegetables {
            grid-area: 2 / 1 / 3 / 2;
            background-color: #275924;

            &:before {
                pointer-events: none;
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 0;
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
                /* W3C */
                transition-duration: $defaultDuration;
                transition-property: transform opacity;
            }

            &:hover {
                transform: translateY(-5px);
                /* move the element up by 5px */

                &:before {
                    opacity: 1;
                    transform: translateY(5px);
                    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
                }

                img {
                    transform: translateY(-10px);
                    transition: all ease-in-out .3s
                }
            }

            img {
                width: 10em;
                position: relative;
                top: -14%;
            }

            h2 {
                position: relative;
                bottom: 10%;
            }
        }

        .burger {
            grid-area: 1 / 3 / 2 / 4;
            background-color: #D08715;

            &:before {
                pointer-events: none;
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 0;
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
                /* W3C */
                transition-duration: $defaultDuration;
                transition-property: transform opacity;
            }

            &:hover {
                transform: translateY(-5px);
                /* move the element up by 5px */

                &:before {
                    opacity: 1;
                    transform: translateY(5px);
                    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
                }

                img {
                    transform: translateY(-10px);
                    transition: all ease-in-out .3s
                }
            }

            img {
                width: 20em;
                position: absolute;
                top: -20%;
            }

            h2 {
                font-size: 2.5em;
                margin: 0;
                position: relative;
                bottom: -32%;
            }
        }

        .pizza {
            grid-area: 2 / 3 / 3 / 4;
            background-color: #FF7F84;

            &:before {
                pointer-events: none;
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 0;
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
                /* W3C */
                transition-duration: $defaultDuration;
                transition-property: transform opacity;
            }

            &:hover {
                transform: translateY(-5px);
                /* move the element up by 5px */

                &:before {
                    opacity: 1;
                    transform: translateY(5px);
                    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
                }

                img {
                    transform: translateY(-10px);
                    transition: all ease-in-out .3s
                }
            }

            img {
                width: 14em;
                position: relative;
                top: -14%;
            }

            h2 {
                position: relative;
                bottom: 10%;
            }
        }
    }
}