@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

:root {
  --primary: #00804a;
  --secondary: #004225;
  --tertiary: #f5f5dc;
  --btn: #001e1f;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

/* NAV */
.logo {
  color: var(--tertiary);
  font-weight: 900;
  font-size: 3em;
}

.logo a {
  text-decoration: none;
  color: var(--tertiary);
}
.navbar {
  overflow: hidden;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
  z-index: 99;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 1em;
}

.menu ul li {
  list-style: none;
  padding: 1em;
}

.menu a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.menu .active {
  border-bottom: #fff solid 3px;
}

.menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
}

.navbar a:hover:not(.active)::after {
  width: 100%;
  transition: width 0.3s;
}

/* BANNER */
header {
  color: #fff;
  width: 100%;
  /* height: 100dvh; */
  position: relative;
}

.video-banner {
  position: relative;
}

.video-banner-overlay {
  position: absolute;
  top: 0;
  background: rgb(0 0 0 / 49%);
  width: 100%;
  height: 100%;
}

.video-banner video {
  height: calc(100dvh - 90px);
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
}

.title h1 {
  font-size: 5em;
  margin: 0 0 0.2em 0;
}

.title p {
  margin: 0;
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

h3 {
  font-size: 1.5em;
}

section {
  padding: 3em 1em;
  max-width: 1200px;
  margin: auto;
}

/* INTRO SECTION */
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.intro-img {
  width: 100%;
}

.intro-img img {
  width: 100%;
  object-fit: cover;
  height: 25rem;
}

.intro-desc {
  width: 80%;
}

/* CATEGORY SECTION */
#category {
  background: #f5f5dc;
  max-width: unset;
}
#category h2 {
  text-align: center;
  padding-bottom: 1em;
}
.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  max-width: 1200px;
  margin: auto;
}

.category-item {
  display: flex;
  flex-direction: column;
}

.category-item h3 {
  margin-bottom: unset;
}

.category-item img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.category-item a {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  background-color: var(--primary);
  text-align: center;
}

.category-item a:hover {
  background-color: var(--secondary);
}

/* FOOTER */
footer {
  background-color: var(--secondary);
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 3em 1em;
  max-width: 1200px;
  margin: auto;
}

.about-main {
  color: #fff;
}

.about-main.logo {
  color: var(--tertiary);
}

.social {
  display: flex;
  gap: 1em;
}
.container a {
  color: #fff;
  text-decoration: none;
}

.container a:hover {
  color: var(--primary);
}

.container h4 {
  font-size: 1.3em;
  color: #fff;
  margin: 0 0 0.5rem 0;
}

.container ul {
  margin: 0;
  padding: 0;
}

.container li {
  list-style: none;
  padding: 0.5em 0;
}

@media (max-width: 768px) {
  /* Intro tablet and mobile */
  #intro {
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em 1em;
  }
  .intro-desc {
    width: 100%;
  }
  /* Categories tablet and mobile*/
  .category-container {
    flex-wrap: wrap;
  }
}

/* SERVICES PAGE */
#select-categories h2 {
  text-align: center;
  margin-bottom: 1em;
}

section:nth-child(odd) {
  background-color: var(--tertiary);
  max-width: unset;
}

#meat h2,
#vegan h2,
#beverages h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}

#meat p,
#vegan p,
#beverages p {
  margin-bottom: 1em;
}

.desc {
  text-align: center;
}

/* ABOUT */
.about-banner {
  width: 100%;
  height: 100dvh;
}

.about-title {
  /* text-align: center*/
  font-size: 5em;
  position: absolute;
  top: 40%;
  right: 10%;
}

.about-banner img {
  height: calc(100dvh - 90px);
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  /* Footer */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .services,
  .support,
  .about {
    margin-bottom: 1.5em;
  }
}

/* SUPPORT PAGE */
.hero-banner {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 600px;
  background: url(./assets/support-banner.jpg) no-repeat top center;
  /* z-index: -1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.hero-banner h1 {
  margin: 0;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.hero-banner input {
  padding: 1em 1em 1em 4em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  /* flex-wrap: wrap; */
}

.fa-magnifying-glass {
  position: relative;
  top: -50px;
  left: -85px;
  /* background-color: red; */
  font-size: 1.5em;
}

/* Meat section */
.grid {
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
  grid-gap: 25px;
  align-items: center;
}
.card {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}
.card__image {
  position: absolute;
  max-width: 130%;
  left: -15%;
  right: 0;
  margin: 0 auto;
  top: -18%;
  z-index: 2;
  transition: all 0.3s ease-out;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}
.card__data {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  padding-top: calc(100% * 1.18);
  transition: all 0.3s ease-out 0.1s;
}
.card__info {
  padding: 0 10px;
  margin-bottom: 10px;
}
.card__info h2 {
  font-size: 14px;
  font-weight: 800;
}
.card__info p {
  font-size: 10px;
  line-height: 14px;
  color: #a2a2a2;
}
.card__action {
  display: grid;
  grid-template: 30px / 1fr 35px;
}
.card__price {
  height: 30px;
  padding: 0 10px 0 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 800;
}
.card__add {
  overflow: hidden;
  width: 35px;
  height: 30px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #222222;
  border: none;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in;
}
.card__add:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.card__add:active {
  opacity: 1;
  transform: scale(0.8);
}
.card:hover .card__image {
  top: -20%;
}
.card:hover .card__data {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.meat-intro h1,
.meat-intro p {
  text-align: center;
}
